{:lein         {:profile "+cljs"}
 :source-paths ["src"]
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [testing.core]}}
                      :devtools   {:after-load testing.core/mount-root}}}
 :dev-http     {3000 {:root    "resources/public"
                      :handler todo.handler/-main}}}
